<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.ichi2.anki" />
        <package android:name="com.ichi2.anki.debug" />
    </queries>

    <uses-permission android:name="com.ichi2.anki.permission.READ_WRITE_DATABASE" />
    <uses-permission android:name="com.ichi2.anki.debug.permission.READ_WRITE_DATABASE" />
</manifest>
